@font-face {
	font-family: 'algeria';
	src: url('ALGERIA.TTF') format('truetype'); 
}
@font-face {
	font-family: 'blackoak';
	src: url('BlackoakStd.otf') format('opentype'); 
}
header
{
    background-color: #AEE1F6;
    height: 125px;
    width : 100%;
    text-align: center;
    padding-top: 1%;
    font-weight: bolder;
}
main
{
    background-image: url(femmePlage.jpg);
    position: relative;
    height: 1600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.fighter
{
    font-size: 50px;
    text-align: center;
    padding-top: 2%;
    font-family: 'blackoak';
    transform: scale(.5, 1);
}
.barre
{
    text-align: center;
    padding-top: 4%;
}