header
{
    background-color: #AEE1F6;
    height: 125px;
    width : 100%;
    text-align: center;
    padding-top: 1%;
}
main
{
    background-image: url(femmePlage.jpg);
    position: relative;
    height: 1600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.fighter
{
    font-size: 50px;
    text-align: center;
}